* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
body {
    background-color: rgb(20, 29, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: black;
    padding: 4%;
    border-radius: 10%;
}
#inputOutput{
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: none;
    color: antiquewhite;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3%;
    column-gap: 2%;
}
button{
    padding: 7%;
    font-size: 1.5rem;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    background-color: rgb(20, 29, 34);
    color: antiquewhite;
}
.specialKey{
    background-color: rgb(255, 140, 0);
    color: white;
}
.functionKey{
    background-color: rgb(255, 69, 0);
    color: white;
}
.abnormar{
    grid-column: span 2;
}
#multiplier {
    font-size: 0; /* Hide the actual '*' text */
}

#multiplier::before {
    content: "×"; /* Show the pretty symbol */
    font-size: 1.5rem;
}

/* Highlight the Equal Button */
#buttons .specialKey#equal {
    background-color: #00ff88;
    color: #222;
}